/* -----------------------------------------
   Home page slider
----------------------------------------- */

.slick-slider:not(.slick-initialized) {
  &::after {
    content: '';
    display: table;
    clear: both;
  }

  .slick-slide:first-child {
    display: block;
  }
}

#home-slider {
  button {
    display: none !important;
  }
}



.home-slide {
  width: 100%;
  height: auto; /* 898px; define the height of slide*/
  transition: height 0.3s ease;
  @include breakpoint(medium down) {
    height: 700px;
  }

  @include breakpoint(small down) {
    height: 480px;
  }
}

.home-slide__inner {
  position: relative;
  height: 100%;
  //@extend %bgcover;
  img{
    max-width: none;
    @include breakpoint(1921px up) {
      width: 100%;
    }
  }
}

.home-slide__caption {
  @include position-center;
  margin-top: vw(129px);;

  .grid-x {
    justify-content: center;
  }

  .cell {
    color: #ffffff;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0;
    margin-right: 0;
    @include breakpoint(500px down) {
      align-items: center;
    }
    @include breakpoint(640px down) {
      padding-top: vw(20px);
    }

    h3 {
      //max-width: vw(1020px);
      font-family: $sub-font;
      @include adaptiv-font(120, 40);
      font-weight: 400;
      margin-bottom: 0;
      padding-bottom: 0;
      line-height: normal;
      width: 71%;
      @include breakpoint(500px down) {
        text-align: center;
      }

      @include breakpoint(840px down) {
        width: auto;
        //text-align: center;
      }
    }

    p {
      @include adaptiv-font(30, 13);
      font-weight: 400;
      letter-spacing: 1.5px;
      text-align: left;
      text-transform: uppercase;
      margin-left: 16px;
      padding-bottom: 5px;
      margin-bottom: 0;
    }
  }
}


.videoHolder {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  .video {
    pointer-events: none;

    @include position-center;
  }
}

.slick-arrow {
  /* Slick arrows global styles */
  &::before {

  }
}

.slick-prev {
  &::before {

  }
}

.slick-next {
  &::before {

  }
}

.slick-dots {
  /* Slick dots global styles */
  font-size: 0;

  li {
    &:only-child {
      display: none;
    }

    button {
      display: none;

      &::before {
        border: 2px solid $main-color;
        background-color: transparent;
      }
    }

    &.slick-active {
      button {
        display: none;

        &::before {
          background-color: $main-color;
        }
      }
    }
  }
}

.intro__smedia {
  position: relative;
  z-index: 1;

  .smedia__position {
    position: absolute;
    top: 142px;
    right: 0;
    @include breakpoint(1600px down) {
      top: 90px;
    }

    @include breakpoint(1201px down) {
      top: 85px;
    }
    @include breakpoint(1024px down) {
      top: 56px;
      right: 25px;
    }
    @include breakpoint(840px down) {
      top: 130px;
      right: 26px;
      transform: translate(-50%);
    }
    @include breakpoint(640px down) {
      top: 110px;

    }
    @include breakpoint(500px down) {
      top: 196px;
      right: 50%;
      transform: translateX(50%);
    }

    .stay-tuned {
      .fa-instagram {
        @include breakpoint(500px down) {
          left: -30px;
        }

      }

      .fa-instagram:after {
        width: 52px;
        height: 52px;
        top: -6.6px;
        left: -9.1px;
        transition: all .4s;
        @include breakpoint(1025px down) {
          width: 45px;
          height: 45px;
          top: -6.6px;
          left: -9.1px;
        }
        @include breakpoint(641px down) {
          width: 45px;
          height: 45px;
          top: -7.6px;
          left: -8.8px;
        }
        @include breakpoint(545px down) {
          width: 40px;
          height: 40px;
          top: -4.6px;
          left: -8.1px;
        }
        @include breakpoint(480px down) {
          width: 32px;
          height: 32px;
          top: 2.4px;
          left: -7.1px;
        }
      }

      .fa-instagram:before {
        font-size: 37px;
        color: #6a6a69;
        @include breakpoint(1025px down) {
          font-size: 31px;
        }
        @include breakpoint(545px down) {
          font-size: 27px;
        }
        @include breakpoint(480px down) {
          font-size: 20px;
        }
      }

      .fa-facebook:before {
        content: '\f39e';
        font-size: 35px;
        color: #5c5c59;
        border-radius: 50%;
        @include breakpoint(1025px down) {
          font-size: 30px;
        }
        @include breakpoint(641px down) {
          font-size: 29px;
        }
        @include breakpoint(545px down) {
          font-size: 27px;
        }
        @include breakpoint(480px down) {
          font-size: 20px;
        }
      }

      .fa-facebook:after {
        content: '';
        position: absolute;
        width: 52px;
        height: 52px;
        top: -9px;
        right: -15px;
        background-color: #fff;
        border-radius: 50%;
        z-index: -1;
        transition: all .4s;
        @include breakpoint(1025px down) {
          width: 45px;
          height: 45px;
          top: -10px;
          right: -14px;
        }
        @include breakpoint(840px down) {
          bottom: -48px;
        }
        @include breakpoint(641px down) {
          width: 45px;
          height: 45px;
          right: -14px;
          top: -9px;
        }
        @include breakpoint(545px down) {
          width: 40px;
          height: 40px;
          right: -12px;
          top: -6px;
        }
        @include breakpoint(480px down) {
          width: 32px;
          height: 32px;
          top: 1.4px;
          left: -9.1px;
        }
      }

      span:hover::after, {
        background-color: $orange;
      }

      .fa-facebook {
        position: absolute;
        bottom: -135px;
        right: 40px;
        @include breakpoint(1025px down) {
          bottom: -105px;
          right: 45px;
        }
        @include breakpoint(840px down) {
          bottom: -30px;
          right: -26px;
        }
      }

      .fa-linkedin-in:before {
        content: none;
      }
    }
  }
}

//.slider__item {
//  position: relative;
//  .in__item {
//    position: absolute;
//    top: 50%;
//    color: #ffffff;
//    @include adaptive-value("width", 1000, 550, 0);
//  }
//  .main__title-wrapper {
//    position: absolute;
//    display: flex;
//    flex-direction: column-reverse;
//    .main__title {
//      line-height: normal;
//      @include adaptive-value("line-height", 150, 80, 0);
//      font-family: $sub-font;
//      @include adaptiv-font(120, 45);
//      font-weight: 400;
//      @include adaptive-value("top", 106, 55, 0);
//      left: 0;
//    }
//    p{
//      padding: vw(100px) 0;
//      @include adaptiv-font(20, 15);
//      font-weight: 400;
//      letter-spacing: 0.4px;
//      line-height: 30px;
//      @include breakpoint(840px down){
//        line-height: vw(30px, 840);
//      }
//      @include breakpoint(641px down){
//        line-height: vw(30px, 641);
//      }
//      @include breakpoint(480px down){
//        line-height: vw(30px, 480);
//      }
//    }
//  }
//}

// change class to markup